@media (width<500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .home-page {
    padding: 1rem 3rem 7rem 3rem;
  }
  /* *************************
  *******nav section********
  ************************* */
  .main-nav {
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  .nav-container {
    flex-direction: column;
    gap: 6rem;
  }
  .mobile-menu-icon {
    display: block;
  }
  /* *************************
  *******hero section********
  ************************* */
  .hero-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .desktop-hero-img {
    display: none;
  }
  .mobile-hero-img {
    display: block;
    width: 100%;
  }
  .hero-heading {
    font-weight: 900;
    font-size: 6rem;
  }
  /* *************************
  *******new section********
  ************************* */

  /* *************************
  *******topnews section********
  ************************* */
  .topnews-section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .news-img {
    width: 10rem;
  }
  .news-title {
    font-size: 2rem;
  }
}
